@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  background-color: #E5E5E5;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 100px;
  margin-left: 70px;
  width: 140px;
  height: 70px;
}

.navigation-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
}

.navigation-link {
  display: block;
  margin-right: 34px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #7562574D;
}

.navigation-icon {
  position: absolute;
  margin: auto;
  fill: #000000;
}

.navigation-user .navigation-link {
  min-width: 18px;
}

.button-navigation-user {
  display: inline-block;
  padding: 9px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-navigation-user:hover {
  background-color: #615048;
}

.button-navigation-user:focus {
  outline: 3px solid #83B3D3;
}

.main-container {
  flex-grow: 1;
}

.index-image {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 82px;
}

.advantages-title {
  margin: 0 240px;
  padding-top: 64px;
  padding-bottom: 32px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #FFFFFF;
}

.advantages-subtitle {
  margin: 0 240px;
  padding-top: 30px;
  padding-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  background-color: #FFFFFF;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-item-blue {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  list-style-type: none;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-heading {
  margin: 0;
  padding-top: 98px;
  text-transform: uppercase;
}

.advantages-description-number {
  margin: 0 75px;
  padding-top: 30px;
}

.advantages-description {
  margin: 0 90px;
  padding-top: 30px;
  padding-bottom: 78px;
  font-size: 18px;
  line-height: 22px;
}

.hotel-search {
  text-align: center;
}
.hotel-search-title {
  margin: 0 240px;
  padding-top: 91px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.hotel-search-description {
  margin: 0 240px;
  padding-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
}

.button-hotel-search {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 312px;
  margin-bottom: 93px;
  margin-left: 312px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-hotel-search:hover {
  background-color: #615048;
}

.button-hotel-search:focus {
  outline: 3px solid #83B3D3;
}

.button-hotel-search:active {
  background-color: #615048;
  color: #7562574D;
}

.page-footer {
  margin: 0 auto;
  width: 1200px;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
}

.newsletter {
  text-align: center;
  background-image: url("../images/footer/background-email.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter h2 {
  color: #FFFFFF;
}

.newsletter p {
  color: #FFFFFF;
}

.newsletter-title {
  margin: 0;
  padding: 0;
  padding-top: 94px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.newsletter-button {
  width: 200px;
  height: 60px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  outline: 3px solid #756257;
}

.newsletter-button:active {
  background-color: #68A2CA;
}

.page-footer-container {
  display: flex;
  justify-content: center;
  padding: 50px 72px;
  margin: 0 60px;
}

.footer-social {
  right: 60px;
  width: 107px;
  margin-right: 61px;
}

.footer-social-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.newsletter-catalog {
  text-align: center;
}

.footer-social-link {
  display: block;
  color: #83B3D3;
  text-decoration: none;
  background-size: 18px 14px;
}

.footer-social-tw {
  background-image: url("/images/footer/social-twitter.svg");
}

.footer-social-fb {
  background-image: url("/images/footer/social-facebook.svg");
}

.footer-social-youtube {
  background-image: url("/images/footer/social-youtube.svg");
}

.footer-contacts {
  width: 720px;
  margin-left: 53px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.contacts-phone:active {
  color: #756257;
}

.footer-copyright:hover {
  color: #756257;
}

.footer-copyright:focus {
  outline: 3px solid #83B3D3;
}

.footer-copyright:active {
  color: #756257;
}

.inner-image {
  background-image: url("../images/catalog/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.inner-header-title {
  margin: 0 70px;
  padding-top: 35px;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
  color: #FFFFFF;
  text-decoration: none;
  background-image: url("/images/catalog/home.svg");
}

.hotel-filter-group {
  margin-right: 67px;
  margin-bottom: 83px;
}

.hotel-filter {
  display: flex;
  padding-top: 45px;
  margin-left: 71px;
  width: 150px;
}


.hotel-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotel-filter-item {
  padding-top: 13px;
  color: #FFFFFF;
}

.button-submit {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 48px;
  color: #FFFFFF;
  background-color:#83B3D3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 23px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sorting-container {
  display: flex;
}

.hotel-search-result {
  margin-left: 70px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.sorting-control {
  margin-left: 198px;
  width: 287px;
  height: 48px;
  color: #000000;
  background-color: #FFFFFF;
}

.button-control-list {
  display: flex;
  margin: 0;
  margin-left: 72px;
  padding: 0;
  list-style-type: none;
}

.button-control-dark {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  color: #FFFFFF;
}

.button-control-light {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  color: #242424;
  background-color: #ffffff;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  row-gap: 10px;
  margin-right: 72px;
  margin-left: 72px;
  margin-bottom: 84px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 438px;
}

.hotel-card-link {
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

 .hotel-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
}

.hotel-price {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-brown {
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
}

.button-green {
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
}

.hotel-grade {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.button-show-more {
  margin: 30px 290px;
  width: 620px;
  height: 60px;
  font-size: 20px;
  line-height: 25px;
}

.show-more {
  text-align: center;
}

.hotel-show-more {
  font-size: 18px;
  line-height: 23px;
}

.pagination {
  display: flex;
  margin-right: 72px;
  margin-left: 72px;
  background-color: #ffffff;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #83B3D3;
  line-height: 25px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}

.hotel-show-more {

margin-right: 50px;
margin-left: 300px;
}

.select-control {
  margin: 0;
  width: 160px;
  height: 48px;
}
